{
    "prefix": "re!",
    "token": "{discord Token}",
    "unbToken": "{UNB Token}",
    "unbemote": "{Emoji used for UNB}",
    "amaritoken": "{Token for AmariBot (used for vip)",
	"ownerID": "{Bot owners id}"
}